body{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    overflow: hidden;
}

p{
    margin: 0px;
    margin-bottom: 2px;
}

h1{
    margin: 0px;
    text-align: center;
    font-size: medium;
    background-color: grey;
}

.Block{
    background-color: lightgoldenrodyellow;
    border-bottom: 1px solid grey;
  
}

.utxo{
    border-bottom: 1px solid grey;
}

#blockchain-div{

    /*margin-right: 2px;*/
    width: 60%;
    height: 100%;
    float: left;
    border-right: 4px solid black;
}

#transaction-info{
    height: 100%;
    overflow: hidden;
}

#UTXODB{
    background-color:chartreuse;
    height: 60%;
}

#pending-transactions{
    background-color: cyan;
    height: 40%;
}

