body{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    overflow: hidden;
}

#blockchain-canvas{

    display: inline-block;
    background-color: burlywood;
    width: 60%;
    height: 100%;
}

.miner{
    flex-grow: 1;
    background-color: cadetblue;
}

#left-miners, #right-miners{
    display:flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

/* This is a bit hardcoded*/
#left-miners{
    float:left;
}

#right-miners{
    float:right;
}

